/* code to remove the up/down arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



html, body{
    margin: 0 auto;
    font-family:'Inter', sans-serif;
    width: 100%;
  
}

#container {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    width:540px;
    height: 690px;
    justify-content: center;
    align-items: center;
}


header{
    position: absolute;
    align-items: center;
    width: 540px;
    height: 300px;
    top: 0px;
    background-color:rgb(47, 0, 255);
    text-align: center;
}

header h1 {
    position: absolute;
    height: 38px;
    left: 70px;
    top: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
}

header h2{
    position: absolute;
    font-size: 15px;
    text-align:center;
    margin-top: 0;
    top: 100px;
    left: 220px;
    color: #FFFFFF;
}

header .value{
    position: absolute;
    width: 117px;
    left: 170px;
    top: 130px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5px;
}
   

header .value input{
    box-sizing: content-box;
    background-color:rgb(47, 0, 255);
    border: 2px solid #B295FF;
    border-radius: 5px; 
    width: 190px;
    height: 83px;
    left: 230px;
    top: 101px;
    line-height:100px ;
    color: white;
    font-size:45px ;
    text-align: center;
}



#number{
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    background-color:rgb(47, 0, 255);
    border: 2px solid #B295FF;
    border-radius: 5px; 
    height: 150px;
    width: 117px;
    left: 217px;
    top: 100px;
    line-height: 24px;
}


#gBtn {
    position: absolute;
    width: 117px;
    height: 42x;
    line-height: 24px;
    left: 217px;
    top: 220px;
    margin-top: 25px;
}

#cBtn{
    position: absolute;
    width: 117px;
    height: 42x;
    line-height: 24px;
    left: 217px;
    top: 290px;
    margin-top: 25px;
}

.results{
    background: rgb(13, 18, 26);
    width: 540px;
    height: 360px;
    position: absolute;
    top: 300px;
 }

 h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600px;
    font-size:15px;
    height: 20px;
    text-align: center;
 }

p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
 .group_1 {
    position: absolute;
    color: #CCC1FF; 
    background-color: rgba(39, 53, 73, 1);
    width: 500px;
    height: 80px;
    left: 20px;
    top: 20px;
    text-align: center;
    border-radius: 5px ;
 }

.group_2 {
    position: absolute;
    color: #CCC1FF; 
    background-color: rgba(39, 53, 73, 1);
    width: 500px;
    height: 80px;
    left: 25px;
    top: 120px;
    border-radius: 5px ;
 }

.group_3{
    position: absolute;
    color: #CCC1FF; 
    background-color: rgba(39, 53, 73, 1);
    width: 500px;
    height: 80px;
    left: 25px;
    top: 220px;
    border-radius: 5px ;
}